
body {
	background-color: #FEFFB2;
	
	margin: 0;
	padding: 0;
}

* {
	word-wrap: break-word;
	word-break: break-word;
}

ul, ol, li, p {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	margin: 10;
	margin-left: 90;
	margin-right: 90;
	border-style: groove;	
}
.incheader {
	background: url("incheader.png");
	height: 26px;
	font-size: 19;
	position: relative;
	padding-top: 4px;
	text-align:center;
	}
.incbody{
	background: #6fbb03}
.incfooter {
	background: url("incfooter.png");
	height: 30px;

	}
